img {
	height: 120px;
	width: 120px;
	border-radius: 25px;
}

table {
	text-align: center;
	border: 2px solid #C3C3C3;
	border-collapse: collapse;
}

thead {
	background: black;
	color: white;
}

tbody, tfoot {
	border: 2px solid #C3C3C3;
}

th {
	padding: 0 10px;
}

td {
	padding: 10px;
	border: 2px solid #C3C3C3;
}

#soul {
	background: #F09960;
}

#time {
	background: #4E9B1C;
}

#space {
	background: #1C6F9B;
}

#mind {
	background: #F7FF51;
}

#reality {
	background: #E6484C;
}

#power {
	background: #978AFF;
}